@charset "utf-8";html{background-color:#fff;color:#000}
body,ul,li,ol,dl,dd,h1,h2,h3,h4,h5,h6,figure,form,fieldset,legend,input,textarea,button,p,blockquote,th,td,pre,xmp{margin:0;padding:0;}

ul{list-style:none}

html {overflow-x: hidden;height: 20%;-webkit-tap-highlight-color: transparent;}
body {font-family: Arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;color: #333;-webkit-text-size-adjust: none;}
a{text-decoration:none}
input{outline-style: none;}
