@font-face {
  font-family: "iconfont"; /* Project id 2793970 */
  src: url('iconfont.woff2?t=1630938061390') format('woff2'),
       url('iconfont.woff?t=1630938061390') format('woff'),
       url('iconfont.ttf?t=1630938061390') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right-arrow:before {
  content: "\e687";
}

.icon-zuojiantou:before {
  content: "\e630";
}

.icon-gouwucheman:before {
  content: "\e600";
}

.icon-icon-xiaomiguishu:before {
  content: "\e613";
}

